@model IEnumerable<Entities.Concrete.ContactForm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered" id="myTable">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemoRequest)
            </td>
                @if (item.IsRead == false)
                {
                      <td class="btn btn-danger text-white">
                           Oxunmayıb
                    </td>
                }
                else
                {
                     <td class="btn btn-success text-white">
                      Oxunub
                    </td>
                }
              
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="color:white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="color:white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
