@model IEnumerable<Entities.Concrete.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New +</a>
</p>
<table class="table table-bordered" id="myTable">
    <thead class="table-dark">
        <tr>
            <th>    
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlidePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneLessonDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InActive)
            </th>
 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.SlidePhoto)" width="150" height="100"/>
                
            </td>
            <td>
                 <img src="@Html.DisplayFor(modelItem => item.MainPhoto)" width="150" height="130"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekSchedule)
            </td>
                <td>
                @Html.DisplayFor(modelItem => item.OneLessonDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDuration)
            </td>
                @if(item.InActive == false)
                {
                      <td class="btn btn-danger text-white mt-5">
                           Aktiv Deyil
                    </td>
                }
                else
                {
                     <td class="btn btn-success text-white mt-5">
                      Aktivdir
                    </td>
                }
              
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" style="color:white">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="color:white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="color:white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready( function () {
    $('#myTable').DataTable();
     } );
    </script>
}

