@using Entities.Concrete
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Orbiter is a bootstrap minimal & clean admin template">
    <meta name="keywords" content="admin, admin panel, admin template, admin dashboard, responsive, bootstrap 4, ui kits, ecommerce, web app, crm, cms, html, sass support, scss">
    <meta name="author" content="Themesbox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>ComparAcademy - @ViewData["Title"]</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="/adminpanel/images/76956973_2553233311576102_2105318425046810624_n.jpg">
    <!-- Start css -->
    <!-- Switchery css -->
    <link href="/adminpanel/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
    <!-- Apex css -->
    <link href="/adminpanel/plugins/apexcharts/apexcharts.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Slick css -->
    <link href="/adminpanel/plugins/slick/slick.css" rel="stylesheet">
    <link href="/adminpanel/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="/adminpanel/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="/adminpanel/css/bootstrap-multiselect.css" type="text/css" />

    <link href="/adminpanel/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/adminpanel/css/flag-icon.min.css" rel="stylesheet" type="text/css">
    <link href="/adminpanel/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/6.0.0-beta.2/dropzone.min.css" />


</head>

<body class="vertical-layout">
    <!-- Start Infobar Setting Sidebar -->
    <!-- End Infobar Setting Sidebar -->
    <!-- Start Containerbar -->
    <div id="containerbar">
        <!-- Start Leftbar -->
        <div class="leftbar">
            <!-- Start Sidebar -->
            <div class="sidebar">
                <!-- Start Logobar -->
                <div class="logobar">
                    <a href="/ComparAdmin/Dashboard/Index" class="logo logo-large"><img src="/adminpanel/images/compar_100.png" class="img-fluid" alt="logo"></a>
                    <a href="/ComparAdmin/Dashboard/Index" class="logo logo-small"><img src="/adminpanel/images/compar_100.png" class="img-fluid" alt="logo"></a>
                </div>
                <!-- End Logobar -->
                <!-- Start Navigationbar -->
                <div class="navigationbar">
                    <ul class="vertical-menu">
                        <li>
                            <a asp-controller="Dashboard" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Ana Səhifə</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>

                        </li>
                        <li>
                            <a asp-controller="Categories" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Kateqoriyalar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>

                        </li>
                        <li>
                            <a asp-controller="Courses" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Kurslar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>

                        </li>

                        <li>
                            <a asp-controller="ContactForm" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Məktublar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="CourseTopics" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Kurs Mövzuları</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Videos" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Videolar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Tags" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Teqlər</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li>
                        </li>
                        <li>
                            <a asp-controller="Articles" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Məqalələr</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Skills" asp-action="Index">
                                <img src="/adminpanel/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Bacarıqlar</span><i class="feather icon-chevron-right pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Navigationbar -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Leftbar -->
        <!-- Start Rightbar -->
        <div class="rightbar">
            <!-- Start Topbar Mobile -->
            <div class="topbar-mobile">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="mobile-logobar">
                            <a href="index.html" class="mobile-logo"><img width="30px" src="/adminpanel/images/123652965_100505961875255_1192301689523879993_n.jpg" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="mobile-togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="topbar-toggle-icon">
                                        <a class="topbar-toggle-hamburger" href="javascript:void();">
                                            <img src="/adminpanel/images/svg-icon/horizontal.svg" class="img-fluid menu-hamburger-horizontal" alt="horizontal">
                                            <img src="/adminpanel/images/svg-icon/verticle.svg" class="img-fluid menu-hamburger-vertical" alt="verticle">
                                        </a>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="/adminpanel/images/svg-icon/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="/adminpanel/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Topbar -->
            <div class="topbar">
                <!-- Start row -->
                <div class="row align-items-center">
                    <!-- Start col -->
                    <div class="col-md-12 align-self-center">
                        <div class="togglebar">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="menubar">
                                        <a class="menu-hamburger" href="javascript:void();">
                                            <img src="/adminpanel/images/svg-icon/collapse.svg" class="img-fluid menu-hamburger-collapse" alt="collapse">
                                            <img src="/adminpanel/images/svg-icon/close.svg" class="img-fluid menu-hamburger-close" alt="close">
                                        </a>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="searchbar">
                                        <form>
                                            <div class="input-group">
                                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn" type="submit" id="button-addon2"><img src="/adminpanel/images/svg-icon/search.svg" class="img-fluid" alt="search"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="infobar mt-3">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <div class="profilebar">
                                        <div class="dropdown">
                                            @if (SignInManager.IsSignedIn(User))
                                            {

                                                <a class="dropdown-toggle" href="#" role="button" id="profilelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/adminpanel/images/users/profile.svg" class="img-fluid" alt="profile"><span class="feather icon-chevron-down live-icon"></span> @User.Identity.Name</a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profilelink">
                                                    <div class="dropdown-item">
                                                        <div class="profilename">
                                                            <h5></h5>
                                                        </div>
                                                    </div>
                                                    <div class="userbox">
                                                        <ul class="list-unstyled mb-0 p-r-5" style="width:150px">
                                                            <li class="media dropdown-item p-b-0">
                                                                <a asp-area="Identity" asp-action="ChangePassword" asp-controller="Account" asp-route-id="@SignInManager.UserManager.GetUserId(User)" class="profile-icon"><img src="/adminpanel/images/svg-icon/user.svg" class="img-fluid" alt="user">Parolu Dəyiş</a>
                                                            </li>
                                                            <li class="media dropdown-item m-t-5 p-l-10">
                                                                <form method="post" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                                                    <button type="submit" style="width:100%"
                                                                        class="nav-link btn btn-danger p-t-20 p-b-20">
                                                                        Çıxış
                                                                    </button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Topbar -->
            <!-- Start Breadcrumbbar -->
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Keçidlər</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">İdarə Paneli</a></li>
                                <li class="breadcrumb-item"><a href="#">@ViewData["Link"]</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->
            <div class="contentbar">
                @RenderBody()

                <!-- Start Footerbar -->
                <div class="footerbar">
                    <footer class="footer">
                        <p class="mb-0">© 2020 Orbiter - All Rights Reserved.</p>
                    </footer>
                </div>
                <!-- End Footerbar -->
            </div>
            <!-- End Rightbar -->
        </div>
        <!-- End Containerbar -->
        <!-- Start js -->
        <script type="text/javascript" src="/adminpanel/js/bootstrap-multiselect.js"></script>
        <script src="/adminpanel/js/jquery.min.js"></script>
        <script src="/adminpanel/js/popper.min.js"></script>
        <script src="/adminpanel/js/bootstrap.min.js"></script>
        <script src="sweetalert2.all.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
        <script src="/adminpanel/js/modernizr.min.js"></script>
        <script src="/adminpanel/js/detect.js"></script>
        <script src="/adminpanel/js/jquery.slimscroll.js"></script>
        <script src="/adminpanel/js/vertical-menu.js"></script>
        <!-- Switchery js -->
        <script src="/adminpanel/plugins/switchery/switchery.min.js"></script>
        <!-- Apex js -->
        <script src="/adminpanel/plugins/apexcharts/apexcharts.min.js"></script>
        <script src="/adminpanel/plugins/apexcharts/irregular-data-series.js"></script>
        <!-- Slick js -->
        <script src="/adminpanel/plugins/slick/slick.min.js"></script>
        <!-- Custom Dashboard js -->
        <script src="/adminpanel/js/custom/custom-dashboard.js"></script>
        <script src="/adminpanel/js/core.js"></script>
        <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        @await RenderSectionAsync("Scripts",required:false);
        <!-- End js -->
</body>

</html>