@model IEnumerable<Entities.Concrete.Video>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New +</a>
</p>
<table class="table table-bordered" id="myTable">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CourseTopic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <video width="150" height="120" controls>
                        <source src="@Html.DisplayFor(modelItem => item.VideoUrl)" type="video/mp4">
                    </video>

                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" width="120" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTopic.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" style="color:white">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="color:white">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="color:white">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
<script>
        $(document).ready( function () {
    $('#myTable').DataTable();
     } );
</script>
}